.movie-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 550px;
  align-items: center;
  margin: 5px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  .poster {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #star {
    font-size: 25px;
    cursor: pointer;
    color: grey;
    &.selected {
      color: gold;
    }
    &.unselected:hover {
      color: gold;
    }
    &.selected:hover {
      color: grey;
    }
  }

  .description {
    height: 100px;
    text-align: center;
    span {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }
}
